:root {
    --background-color: #0d2847;
    --nav-color: #111927;
    --light-background: #1a3560; 
    --light-blue: #1a61ac;
}

body {
    background-color: var(--background-color);
    color: white;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

header {
    background-color: var(--nav-color);
    width: auto;
    padding: 40px;
}

.brand {
    display: inline-block;
    vertical-align: middle;
}
.brand img {
    height: 65px;
}
.nav-links {
    display: inline-block;
    vertical-align: middle;
}
.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 28px;
    margin: 0 16px;
}
.nav-links a:hover {
    color: var(--light-blue);
    transition: color 0.3s ease-out;
}
main {
    background-color: var(--background-color);
}
.services {
    width: 80%;
    background-color: var(--light-background);
    padding: 40px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}
.services h1 {
    text-align: center;
    border-bottom: 4px solid var(--light-blue);
    padding-bottom: 24px;
}
.service-card {
    display: inline-block;
    width: 26%;
    /* background-color: var(--light-blue); */
    vertical-align: top;
    cursor: pointer;
}
.service-card:hover {
    background-color: var(--light-blue);
    transition: background-color 0.3s ease-out;
}
.service-card h2 {
    text-align: center;
}
.service-card p {

}
.service-card img {
    width: 180px;
    height: 150px;
}
.service-card:first-of-type {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.service-card:last-of-type {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

footer {
    background-color: var(--nav-color);
    width: auto;
    padding: 26px 60px;
    text-align: center;
}