/*BODY*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../Assets/Imagenes/fondo_pagina.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;        
    display: flex;             
    flex-direction: column; 
}

/*MAIN Y TARJETAS DE PREGUNTAS*/
main {
    padding: 32px;
    flex: 1;
}
.pregunta {
    margin: 32px;
    padding: 12px;
    color: #f8f8fa;
    background-color: #1a61ac7e;
    border-radius: 8px;
    font-size: 20px;
}
